@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(173, 131, 131);
  margin-bottom: 0.8rem;
  margin-top: 1.5rem;
}
form {
  width: 300px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* box shadow */
  box-shadow: 0px 0px 10px rgba(152, 138, 255, 0.5);
  /* border */
  border: 1px solid rgb(195, 241, 255);
  /* border-radius */
  border-radius: 5px;
  /* background */
  background: #fff;
  /* position */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"] {
  width: 250px;
  height: 30px;
  /* background */
  background: #fff;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid rgba(1, 244, 224, 0.721);
}

input[type="text"]:focus {
  outline: 3px solid transparent;
  border-bottom: 2px solid rgba(1, 244, 224, 0.721);
}

textarea {
  width: 250px;
  height: 100px;
  /* background */
  background: #fff;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
}

.smoke{
  width: 250px;
  height: 30px;
  /* background */
  background: #fff;
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px;
  border: none;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type="radio"] {
  border: 2px solid #311b92;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

fieldset{
  border-color: rgba(1, 244, 224, 0.721);
  width: 250px;
  margin: 10px auto;
}

fieldset input, fieldset label{
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
