@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(173, 131, 131);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form--container {
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  /* box shadow */
  box-shadow: 0px 0px 10px rgba(152, 138, 255, 0.5);
  /* border */
  border: 1px solid rgb(195, 241, 255);
  /* border-radius */
  border-radius: 5px;
  /* background */
  background: #fff;
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 250px;
  height: 20px;
  /* background */
  background: #fff;
  margin-top: 10px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgba(1, 244, 224, 0.721);
}

input:focus {
  outline: 3px solid transparent;
  border-bottom: 2px solid rgba(1, 244, 224, 0.721);
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}
